* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Merriweather";
  src: url(./font/Merriweather/Merriweather-Regular.eot), url(./font/Merriweather/Merriweather-Regular.otf), url(./font/Merriweather/Merriweather-Regular.ttf), url(./font/Merriweather/Merriweather-Regular.woff), url(./font/Merriweather/Merriweather-Regular.woff2);
}
@font-face {
  font-family: "Golos Text";
  src: url(./font/golos/GolosText-VariableFont_wght.eot), url(./font/golos/GolosText-VariableFont_wght.otf), url(./font/golos/GolosText-VariableFont_wght.ttf), url(./font/golos/GolosText-VariableFont_wght.woff), url(./font/golos/GolosText-VariableFont_wght.woff2);
}
.container {
  max-width: 1366px;
  width: 100%;
  padding: 0 72px;
  margin: 0 auto;
}

.button {
  display: flex;
  width: 263px;
  height: 72px;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 66px;
  border: 2px solid #1F1F1F;
  background: #1F1F1F;
  color: #FFF;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  transition: 0.5s;
}
.button:hover {
  background: #FBCE51;
  border: 2px solid #FBCE51;
  color: #1F1F1F;
}

.header {
  background-image: url(./img/header-img.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.header-all {
  padding: 26px 0 132px 0;
}
.header__logo {
  margin-bottom: 62px;
  display: flex;
  height: 36px;
  gap: 6px;
}
.header__logo h1 {
  color: #595653;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text", sans-serif;
  font-size: 16.651px;
  font-style: normal;
  font-weight: 700;
  line-height: 108%;
  text-transform: uppercase;
}
.header__h2_text-1 {
  color: #313131;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Merriweather";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  text-transform: uppercase;
}
.header__h2_text-2 {
  color: #313131;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Merriweather";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  text-transform: uppercase;
}
.header__h2_text-3 {
  color: #313131;
  text-align: right;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Merriweather";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  text-transform: uppercase;
}
.header__info {
  display: flex;
  max-width: 542px;
  width: 100%;
  gap: 24px;
  flex-direction: column;
}
.header__info_buttons {
  display: flex;
  gap: 16px;
}
.header__info_button-2 {
  background-color: transparent;
  color: #1f1f1f;
}
.header__info_button-2:hover {
  border-radius: 66px;
  border: 2px solid #1F1F1F;
  background: #1F1F1F;
  color: #FFF;
}
.header__info_text {
  color: #313131;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

@media screen and (max-width: 850px) {
  .header__info {
    max-width: 400px;
  }
  .header__h2_text-1 {
    font-size: 40px;
  }
  .header__h2_text-2 {
    font-size: 40px;
  }
  .header__h2_text-3 {
    font-size: 40px;
    padding-right: 25px;
  }
  .button {
    height: 60px;
  }
}
@media screen and (max-width: 750px) {
  .header-container {
    padding: 0 40px;
  }
}
@media screen and (max-width: 700px) {
  .header {
    background-position: center;
  }
  .header__info_button-2 {
    opacity: 0.9;
    background: #FFF;
    border: none;
  }
}
@media screen and (max-width: 550px) {
  .header__logo {
    margin-bottom: 40px;
  }
  .header h1 {
    font-size: 14px;
  }
  .header__h2_text-1 {
    font-size: 36px;
  }
  .header__h2_text-2 {
    font-size: 36px;
  }
  .header__h2_text-3 {
    font-size: 36px;
    padding: 0;
  }
}
@media screen and (max-width: 465px) {
  .header-all {
    padding: 18px 0 291px 0;
  }
  .header__info_buttons {
    flex-direction: column;
    align-items: center;
    gap: 14px;
  }
  .header__info_text {
    margin-bottom: 8px;
  }
  .header__info_button-1 {
    width: 335px;
  }
  .header__info_button-2 {
    width: 335px;
  }
  .header-container {
    padding: 0 20px;
  }
}
@media screen and (max-width: 375px) {
  .header {
    background-image: url(./img/background-375px.webp);
  }
  .header__info_button-1 {
    width: 100%;
  }
  .header__info_button-2 {
    width: 100%;
  }
  .header__h2_text-1 {
    font-size: 30px;
  }
  .header__h2_text-2 {
    font-size: 30px;
  }
  .header__h2_text-3 {
    font-size: 30px;
  }
}
@media screen and (max-width: 520px) {
  .header-container {
    padding: 0 20px;
  }
}
.marquee {
  background: #F54932;
  color: #fff;
  display: flex;
}
.marquee__text {
  color: #FFF;
  text-align: right;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Merriweather", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  text-transform: uppercase;
}
.marquee__elipse {
  display: inline;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  color: #FFF;
}
.marquee__div {
  display: flex;
  padding: 18px 12px;
  align-items: center;
  gap: 12px;
}

@media screen and (max-width: 375px) {
  .marquee__text {
    font-size: 16px;
  }
  .marquee__div {
    padding: 10px 12px;
  }
}
.main {
  padding: 80px 0;
}
.main-all {
  display: flex;
  flex-direction: column;
}
.main__title {
  display: flex;
  gap: 64px;
  margin-bottom: 17px;
  margin: 0 auto;
}
.main__title_h2 {
  max-width: 764px;
  width: 100%;
  color: #313131;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Merriweather";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  text-transform: uppercase;
  margin: 27px 0;
}
.main__title_h2-span {
  color: #F54932;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Merriweather";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 135%;
  text-transform: uppercase;
}
.main__title_img {
  width: 394px;
  height: 250px;
}
.main__title-mobile_h2 {
  color: #313131;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Merriweather";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  text-transform: uppercase;
  display: none;
}
.main__mobile_text {
  display: none;
}
.main__mobile_img {
  display: none;
}
.main-container {
  padding: 0 72px;
}

.session {
  display: flex;
  gap: 17px;
}
.session__img {
  width: 528px;
  height: 609px;
}
.session__info {
  padding: 47px 0 35px 0;
  max-width: 704px;
  width: 100%;
}
.session__info_text {
  color: #313131;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Merriweather";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.session__info_text-span {
  color: #F54932;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Merriweather";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 135%;
  text-transform: uppercase;
}
.session__info_text-1190px {
  display: none;
}
.session__info_questions {
  color: #3057A2;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-decoration: none;
}
.session__mobile-table {
  margin: 44px 0 40px 0;
  display: none;
}
.session__mobile-table_hr {
  width: 100%;
  height: 2px;
  color: #D0D0D0;
  margin: 16px 0;
}

.table {
  max-width: 704px;
  width: 100%;
  margin-bottom: 48px;
  border-collapse: collapse;
  border: none;
}
.table__span {
  text-decoration-line: line-through;
  text-decoration-color: #F54932;
  margin-right: 12px;
}

.q {
  color: #313131;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  padding: 16px 16px 16px 0;
  border: 2px solid #D0D0D0;
  border-left: none;
  width: 43%;
}
.q-t {
  padding: 0 16px 16px 0;
  border-top: none;
  border-left: none;
}
.q-b {
  padding: 16px 16px 0 0;
  border-bottom: none;
  border-left: none;
}

.a {
  color: #313131;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  padding: 16px 0 16px 16px;
  border: 2px solid #D0D0D0;
  border-right: none;
}
.a-t {
  padding: 0 0 16px 16px;
  border-top: none;
}
.a-b {
  padding: 16px 0 0 16px;
  border-bottom: none;
}

.mobile-q {
  color: #313131;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 12px;
}
.mobile-q1 {
  margin: 0;
}
.mobile-a {
  color: #313131;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

@media screen and (max-width: 1190px) {
  .session__info_text {
    display: none;
  }
  .main__title {
    margin-bottom: 30px;
    gap: 32px;
  }
  .main__title_img {
    margin-top: 50px;
  }
  .main__mobile_text {
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 990px) {
  .main__mobile {
    display: flex;
  }
  .main__mobile_img {
    display: block;
    width: 50%;
  }
  .main__mobile_text {
    margin-top: 100px;
  }
  .main__title_h2 {
    font-size: 30px;
  }
  .main__title_h2-span {
    font-size: 30px;
  }
  .session {
    margin: 0 auto;
  }
  .session__img {
    display: none;
  }
  .session__info_text {
    font-size: 30px;
  }
  .session__info_text-span {
    font-size: 30px;
  }
}
@media screen and (max-width: 860px) {
  .main__title_img {
    display: none;
  }
  .main__title_h2 {
    text-align: center;
  }
  .main__mobile_text {
    margin-top: 50px;
  }
  .session__info_questions {
    text-align: center;
  }
}
@media screen and (max-width: 750px) {
  .main-container {
    padding: 0 40px;
  }
}
@media screen and (max-width: 700px) {
  .main__mobile_img {
    display: none;
  }
  .main__mobile_text {
    margin-top: 0;
  }
}
@media screen and (max-width: 520px) {
  .main-container {
    padding: 0 20px;
  }
}
@media screen and (max-width: 425px) {
  .main {
    padding: 48px 0 60px 0;
  }
  .main-container {
    padding: 0 20px;
  }
  .main__title {
    flex-direction: column;
    gap: 24px;
  }
  .main__title_img {
    display: block;
    margin-top: 0;
    width: 100%;
    margin: 0 auto;
    height: auto;
  }
  .main__title_h2 {
    font-size: 28px;
    margin: 0;
    text-align: start;
  }
  .main__title_h2-mobile {
    display: none;
  }
  .main__title_h2-span {
    font-size: 28px;
  }
  .main__title-mobile_h2 {
    display: block;
    text-align: center;
    text-align: start;
  }
  .main__mobile {
    flex-direction: column;
  }
  .main__mobile_img {
    display: block;
    width: 100%;
  }
  .main__mobile_text {
    text-align: start;
    margin-bottom: 0;
    font-size: 28px;
  }
  .session__info {
    padding: 0;
  }
  .session__info_questions {
    font-size: 18px;
  }
  .session__info_text-span {
    font-size: 28px;
  }
  .session__mobile-table {
    display: block;
  }
  .table {
    display: none;
  }
}
@media screen and (max-width: 360px) {
  .main__title_img {
    display: none;
  }
  .main__title_h2 {
    font-size: 22px;
  }
  .main__title_h2-span {
    font-size: 22px;
  }
  .main__title-mobile_h2 {
    font-size: 22px;
  }
  .session__info_text {
    font-size: 22px;
  }
  .session__info_text-span {
    font-size: 22px;
  }
}
.stages {
  padding: 85px 0 100px 0;
}
.stages__title {
  display: flex;
  flex-direction: column;
  margin-bottom: 54px;
}
.stages__title_h2 {
  color: #313131;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Merriweather";
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
}
.stages__title_text {
  display: flex;
}
.stages__title_text1 {
  color: #313131;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Merriweather";
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
}
.stages__title_text2 {
  color: #3057A2;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin: 5px 0 0 20px;
}
.stages__title_mobile {
  display: none;
  flex-direction: column;
  gap: 12px;
}
.stages__title_mobile-h2 {
  color: #313131;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Merriweather";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  text-transform: uppercase;
}
.stages__title_mobile-text {
  color: #3057A2;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.stages-articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 20px;
}
.stages-articles__mobile {
  gap: 20px;
  display: none;
  grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
  padding: 0 72px;
}
.stages-articles__mobile_1a2 {
  padding: 62px 20px 34px 20px;
  background-color: #E9DED4;
  display: flex;
  flex-direction: column;
  gap: 28px;
  height: 300px;
}
.stages-articles__mobile_4a5 {
  padding: 62px 20px 34px 20px;
  background-color: #E9DED4;
  display: flex;
  flex-direction: column;
  gap: 28px;
  height: 300px;
}
.stages-article {
  display: flex;
  padding: 20px;
  opacity: 0.8;
  background-color: #E9DED4;
  gap: 16px;
}
.stages-article__div {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fff;
  flex: 36px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stages-article__div_number {
  color: #313131;
  leading-trim: both;
  text-edge: cap;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.stages-article__text {
  color: #313131;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  max-width: 403px;
  width: 100%;
}
.stages-article__img {
  position: absolute;
  bottom: 21px;
  right: -70px;
}
.stages-article:nth-child(3) {
  grid-column: 3/3;
  grid-row: 1/3;
}
.stages-article:nth-child(7) {
  grid-column: 2/4;
  grid-row: 3/3;
  position: relative;
}
.stages-article__mobile {
  display: flex;
  gap: 16px;
}
.stages-article__mobile_text {
  color: #313131;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
.stages-article__mobile_3 {
  height: 300px;
  padding: 62px 20px 34px 20px;
  background-color: #E9DED4;
  display: flex;
  gap: 16px;
}
.stages-article__mobile_4 {
  background-color: #E9DED4;
  display: flex;
  gap: 16px;
}
.stages-article__mobile_5 {
  background-color: #E9DED4;
  display: flex;
  gap: 16px;
}
.stages-article__mobile_6 {
  height: 300px;
  padding: 62px 20px 34px 20px;
  background-color: #E9DED4;
  display: flex;
  gap: 16px;
}
.stages-article__mobile_7 {
  height: 300px;
  padding: 62px 20px 34px 20px;
  background-color: #E9DED4;
  display: flex;
  gap: 16px;
}

@media screen and (max-width: 1323px) {
  .stages-article:nth-child(7) .stages-article__text {
    max-width: 250px;
    width: 100%;
  }
}
@media screen and (max-width: 1100px) {
  .stages-articles {
    display: none;
  }
  .stages-articles__mobile {
    display: grid;
  }
  .stages-article__img {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .stages__title {
    display: none;
  }
  .stages__title_mobile {
    display: flex;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 833px) {
  .stages-articles__mobile {
    display: flex;
    overflow: scroll;
    flex: 335 0 0;
  }
  .stages-articles__mobile_1a2 {
    width: 335px;
    height: 300px;
    flex: 0 0 335px;
  }
  .stages-articles__mobile_4a5 {
    width: 335px;
    height: 300px;
    flex: 0 0 335px;
  }
  .stages-articles__mobile::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .stages-articles__mobile:nth-child(5) {
    grid-column: 1/1;
    grid-row: 1/3;
  }
  .stages-article__mobile_3 {
    width: 335px;
    height: 300px;
    flex: 0 0 335px;
  }
  .stages-article__mobile_6 {
    width: 335px;
    height: 300px;
    flex: 0 0 335px;
  }
  .stages-article__mobile_7 {
    width: 335px;
    height: 300px;
    flex: 0 0 335px;
  }
}
@media screen and (max-width: 750px) {
  .stages-container {
    padding: 0 40px;
  }
  .stages-articles__mobile {
    padding: 0 40px;
  }
}
@media screen and (max-width: 520px) {
  .stages-container {
    padding: 0 20px;
  }
  .stages-articles__mobile {
    padding: 0 20px;
  }
}
.players {
  padding: 100px 0 140px 0;
}
.players__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  align-items: center;
}
.players__title_h2 {
  color: #313131;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Merriweather";
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
}
.players__title_buttons {
  width: 151px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.players-button__left {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
}
.players-button__left circle {
  transition: 0.5s;
}
.players-button__left:hover circle {
  fill: #FBCE51;
}
.players-button__left:disabled circle {
  fill: #D6D6D6;
}
.players-button__info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
}
.players-button__info_text1 {
  color: #313131;
  leading-trim: both;
  text-edge: cap;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.players-button__info_text2 {
  color: #313131;
  leading-trim: both;
  text-edge: cap;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  opacity: 0.6;
}
.players-button__info_text3 {
  color: #313131;
  leading-trim: both;
  text-edge: cap;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  opacity: 0.6;
}
.players-button__right {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
}
.players-button__right circle {
  transition: 0.5s;
}
.players-button__right:hover circle {
  fill: #FBCE51;
}
.players-button__right:disabled circle {
  fill: #D6D6D6;
}
.players-articles {
  display: flex;
  gap: 20px;
  overflow: scroll;
  padding: 0 72px;
}
.players-articles::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.players-article {
  width: 394px;
  padding: 0 37px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.players-article__img {
  margin-bottom: 28px;
}
.players-article__name {
  margin-bottom: 6px;
  color: #313131;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.players-article__status {
  margin-bottom: 20px;
  color: #313131;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.players-article__button {
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #3057A2;
  leading-trim: both;
  text-edge: cap;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  border-radius: 62px;
  border: 1px solid #3057A2;
  height: 35px;
  background-color: transparent;
  transition: 0.5s;
}
.players-article__button:hover {
  border: 1px solid #3057A2;
  background: #3057A2;
  color: #fff;
}
.players-buttons__mobile {
  display: none;
}

@media screen and (max-width: 1000px) {
  .players {
    padding: 80px 0 70px 0;
  }
  .players__title_h2 {
    font-size: 40px;
  }
}
@media screen and (max-width: 750px) {
  .players-container {
    padding: 0 40px;
  }
  .players-articles {
    padding: 0 40px;
  }
}
@media screen and (max-width: 700px) {
  .players {
    padding: 30px 0 40px 0;
  }
  .players-container {
    padding: 0 45px;
  }
  .players-articles {
    padding: 0 45px;
  }
}
@media screen and (max-width: 520px) {
  .players-container {
    padding: 0 20px;
  }
  .players__title_buttons {
    display: none;
  }
  .players-button__left {
    width: 36px;
    height: 36px;
  }
  .players-button__left circle {
    width: 36px;
    height: 36px;
  }
  .players-button__right {
    width: 36px;
    height: 36px;
  }
  .players-buttons__mobile {
    display: flex;
    width: 129px;
    justify-content: space-between;
    margin: 0 auto;
  }
  .players-articles {
    margin-bottom: 40px;
    padding: 0 20px;
  }
  .players-article {
    padding: 0 24px;
    width: 335px;
    flex: 335px 0 0;
  }
  .players-article__img {
    width: 244px;
  }
  .players-article__name {
    font-size: 24px;
    margin-bottom: 8px;
  }
  .players-article__status {
    font-size: 20px;
  }
}
@media screen and (max-width: 360px) {
  .players__title_h2 {
    font-size: 30px;
  }
}
.footer {
  padding: 40px 0 72px 0;
  background: #E9DED4;
}
.footer__info {
  color: #313131;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  opacity: 0.6;
}

@media screen and (max-width: 750px) {
  .footer-container {
    padding: 0 40px;
  }
}
@media screen and (max-width: 520px) {
  .footer {
    padding: 40px 0 60px 0;
  }
  .footer-container {
    padding: 0 20px;
  }
}/*# sourceMappingURL=style.css.map */