*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Merriweather";
    src: url(./font/Merriweather/Merriweather-Regular.eot),
        url(./font/Merriweather/Merriweather-Regular.otf),
        url(./font/Merriweather/Merriweather-Regular.ttf),
        url(./font/Merriweather/Merriweather-Regular.woff),
        url(./font/Merriweather/Merriweather-Regular.woff2);
}

@font-face {
    font-family: "Golos Text";
    src: url(./font/golos/GolosText-VariableFont_wght.eot),
        url(./font/golos/GolosText-VariableFont_wght.otf),
        url(./font/golos/GolosText-VariableFont_wght.ttf),
        url(./font/golos/GolosText-VariableFont_wght.woff),
        url(./font/golos/GolosText-VariableFont_wght.woff2);
}

.container{
    max-width: 1366px;
    width: 100%;
    padding: 0 72px;
    margin: 0 auto;
}